<form [formGroup]="userForm">
    <div class="form-group">
      <label for="label">Label</label>
      <input class="form-control" name="label" id="label" type="text" formControlName="label">
    </div>
    <div class="form-group">
      <label for="key">Key</label>
      <input class="form-control" name="key" id="key" type="text" formControlName="key">
    </div>
    <div class="form-group">
      <label for="type">Type</label>
      <select class="form-control" name="type" id="type" formControlName="type">
        <option *ngFor="let type of types" [ngValue]="type">{{type}}</option>
      </select>
    </div>
    
  </form>
  <button mat-raised-button color="primary" id="save" type="button" 
  (click)="onClick()">